/*svg{
	margin: 0 auto;
	display: block;
}*/

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: lightgrey;
	padding: 5px 0;
}

header h1{
	margin:0 20px;
}
header div{
	display: block;
	margin: 0 10px;
	
}

label{
	vertical-align: top;
}
path{
	stroke:rgb(50,50,50);
	stroke-width:0.25px;
}

.axis path{
	stroke:black;
	stroke-width:1px;
}

.tooltip{
	position: absolute;
	opacity: 0;
	pointer-events: none;
	border: grey solid 2px;
	background-color: rgba(255,255,255,0.5);
	padding: 0 10px;
}

.tooltip p{
	margin: 5px;
}
.container{
	display: flex;
	flex-wrap: wrap;
}

#mapContainer{
	/*height: 200px;*/
	width: 100%;
	/*background-color: blue;*/
}
#chartsContainer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#pieChartContainer{
	/*height: 100px;*/
	width: 100%;
	/*background-color: yellow;*/
}
#countryChartContainer{
	/*height: 100px;	*/
	width: 100%;
	/*background-color: red;*/
}

@media (min-width: 640px){
#pieChartContainer{
	width: 50%;
}
#countryChartContainer{
	width: 50%;
}
}
 
@media (min-width: 1300px){
#mapContainer{
	width: 65%;
}
#chartsContainer{
	width: 30%;
	padding: 0 4%;
	box-sizing: border-box;
}
#pieChartContainer{
	width: 100%;
}
#countryChartContainer{
	width: 100%;
}
}
 